*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: 16px;
}

body{
	background-color: #fff;
	font-size: 1rem;
	min-width: 1300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.minutesWrapper{
	width: 90%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right: 20px;
	color: black;
	font-size: 1.75rem;
	line-height: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto 2rem auto 4rem auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
	grid-template-areas: 
	'title1 . title2'
	'. appIcon .'
	' . . . '
	'SubHead . .'
	' . . . '
	'buttonIcon1 textSmall1 textSmall1'
	'buttonIcon2 textSmall2 textSmall2'
	'buttonIcon3 textSmall3 textSmall3'
	'buttonIcon4 textSmall4 textSmall4'
	'buttonIcon5 textSmall5 textSmall5'
	'buttonIcon6 textSmall6 textSmall6'
	'buttonIcon7 textSmall7 textSmall7'
	'line1 line1 line1'
	'direct direct direct'
	'line2 line2 line2'
	'google_badge . apple_badge'
	'line4 line4 line4'
	'. facebook .'
	'line5 line5 line5'
	'comments comments comments'
	'line6 line6 line6'
	'. footLogo .';
	}


.minutesWrapper .sub_head{
	grid-area: SubHead;
}
.coLogo{
	grid-area: title1;
}
.minutesMenu{
	grid-area: title2;
}
.title_icon{
	grid-area: appIcon;
} 
.button_icon1{
	grid-area: buttonIcon1;
}
.small_text1{
	grid-area: textSmall1;
}
.button_icon2{
	grid-area: buttonIcon2;
}
.small_text2{
	grid-area: textSmall2;
}
.button_icon3{
	grid-area: buttonIcon3;
}
.small_text3{
	grid-area: textSmall3;
}
.button_icon4{
	grid-area: buttonIcon4;
}
.small_text4{
	grid-area: textSmall4;
}
.button_icon5{
	grid-area: buttonIcon5;
}
.small_text5{
	grid-area: textSmall5;
}
.button_icon6{
	grid-area: buttonIcon6;
}
.small_text6{
	grid-area: textSmall6;
}
.button_icon7{
	grid-area: buttonIcon7;
}
.small_text7{
	grid-area: textSmall7;
}
.direct{
	grid-area: direct;
	column-span: 1 / span 3;
}
.google_badge{
	grid-area: google_badge;
}
.apple_badge{
	grid-area: apple_badge;
}
.facebook{
	grid-area: facebook;
}
.comments{
	grid-area: comments;
	column-span: 1 / span 3;
}
.footerLogo{
	grid-area: footLogo;
}
.divideLine1{
	grid-area: line1;
	column-span: 1 / span 3;
}
.divideLine2{
	grid-area: line2;
	column-span: 1 / span 3;
}
.divideLine3{
	grid-area: line3;
	column-span: 1 / span 3;
}
.divideLine4{
	grid-area: line4;
	column-span: 1 / span 3;
}
.divideLine5{
	grid-area: line5;
	column-span: 1 / span 3;
}

.minutesMenu{
	width: 480px;
	padding-top: 50px;
}

.homeMenuList{
	padding-left: 15px;
}

.pPolicyMenuList{
	padding-right: 10px;
}



ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul li{
	float: left;
	width: 150px;
	height: 3em;
	background-color: #259adc;
	text-align: left;
	font-size: 1rem;
	padding: 10px 10px 10px 10px;
	text-transform: uppercase;
}

ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
}

ul li a:hover {
	background-color: #259adc;
	color: black;
	white-space: nowrap;
	float: none;
}

ul li ul li{
	width: 220px;
	text-transform: none;
	display: none;
}

ul li:hover ul li{
	display: block;
	position: relative;
	z-index: 1;
}

.appsMenuList a::after{
	content: " -> " ;
	color: #fff;
}

.minutesMenu ul li{
	border: 0px;
	box-shadow: 0 1px 0 blue, 0 4px 0 blue;
}

.coLogo{
	padding: 10px 10px;
	margin: 10px 10px;
}

.button_icon{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.footerLogo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.facebook{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.google_badge{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
.apple_badge{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

.title_icon{
	margin-left: auto;
	margin-right: auto;
}

.comments{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 38%
}

.divideLine1{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
}
.divideLine1 p{
	line-height: .5rem;
	background-color: #259adc;
}

.divideLine2{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
}
.divideLine2 p{
	line-height: .5rem;
	background-color: #259adc;
}

.divideLine4{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
}
.divideLine4 p{
	line-height: .5rem;
	background-color: #259adc;
}

.divideLine5{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
}
.divideLine5 p{
	line-height: .5rem;
	background-color: #259adc;
}

.divideLine6{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
}
.divideLine6 p{
	line-height: .5rem;
	background-color: #259adc;
}


@media screen and (max-width: 835px){
	
	.minutesWrapper{
	width: 90%;
	margin: auto;
	padding: 20px;
	line-height: 1.75rem;
	font-size: 1.5rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1px;
	grid-template-rows: auto auto 2rem auto 2rem auto 4rem auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
	grid-template-areas: 
	'title1'  
	'title2'
	' . '
	'appIcon'
	' . '
	'SubHead'
	' . '
	'buttonIcon1' 
	'textSmall1'
	'buttonIcon2' 
	'textSmall2'
	'buttonIcon3' 
	'textSmall3'
	'buttonIcon4' 
	'textSmall4'
	'buttonIcon5' 
	'textSmall5'
	'buttonIcon6' 
	'textSmall6'
	'buttonIcon7' 
	'textSmall7'
	'line1'
	'direct'
	'line2'
	'store_badge_google'
	'line3'
	'store_badge_apple'
	'line4'
	'facebook'
	'line5'
	'comments'
	'line6'
	'footLogo';
	}
	
	.divideLine3{
	grid-area: line3;
	}


	.minutesWrapper div{
	background-color: #fff;
	color: black;
	padding: 10px;
	font-size: 1.5rem;
	}

	.button_icon1{
	grid-area: buttonIcon1;
	}
	.small_text1{
		grid-area: textSmall1;
	}
	.button_icon2{
		grid-area: buttonIcon2;
	}
	.small_text2{
		grid-area: textSmall2;
	}
	.button_icon3{
		grid-area: buttonIcon3;
	}
	.small_text3{
		grid-area: textSmall3;
	}
	.button_icon4{
		grid-area: buttonIcon4;
	}
	.small_text4{
		grid-area: textSmall4;
	}
	.button_icon5{
		grid-area: buttonIcon5;
	}
	.small_text5{
		grid-area: textSmall5;
	}
	.button_icon6{
		grid-area: buttonIcon6;
	}
	.small_text6{
		grid-area: textSmall6;
	}
	.button_icon7{
		grid-area: buttonIcon7;
	}
	.small_text7{
		grid-area: textSmall7;
	}

	.direct{
	grid-area: direct;
	}
	.google_badge{
	grid-area: store_badge_google;
	}
	.apple_badge{
	grid-area: store_badge_apple;
	}
	.google_badge{
	padding: auto;
	}
	.apple_badge{
	padding: auto;
	}
	
	.comments{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

	.divideLine1{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine1 p{
	line-height: .5rem;
	background-color: #259adc;
	}

	.divideLine2{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine2 p{
	line-height: .5rem;
	background-color: #259adc;
	}

	.divideLine3{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine3 p{
	line-height: .5rem;
	background-color: #259adc;
	}

	.divideLine4{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine4 p{
	line-height: .5rem;
	background-color: #259adc;
	}
	.divideLine5{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine5 p{
	line-height: .5rem;
	background-color: #259adc;
	}

	.divideLine6{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine6 p{
	line-height: .5rem;
	background-color: #259adc;
	}

	.small_text1{
		width: 80%;
	}
	.small_text2{
		width: 80%;
	}
	.small_text3{
		width: 80%;
	}
	.small_text4{
		width: 80%;
	}
	.small_text5{
		width: 80%;
	}
	.small_text6{
		width: 80%;
	}
	.small_text7{
		width: 80%;
	}

	.direct{
		width: 80%;
	}

	.divideLine1{
		width: 80%;
	}
	.divideLine2{
		width: 80%;
	}
	.divideLine3{
		width: 80%;
	}
	.divideLine4{
		width: 80%;
	}
	.divideLine5{
		width: 80%;
	}
	.divideLine6{
		width: 80%;
	}

}

@media (min-width: 836px) and (max-width: 1299px){

	.minutesWrapper{
	width: 90%;
	margin: auto;
	padding: 20px;
	line-height: 1.75rem;
	font-size: 1.5rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1px;
	grid-template-rows: auto auto 2rem auto 2rem auto 4rem auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
	grid-template-areas: 
	'title1'  
	'title2'
	' . '
	'appIcon'
	' . '
	'SubHead'
	' . '
	'buttonIcon1' 
	'textSmall1'
	'buttonIcon2' 
	'textSmall2'
	'buttonIcon3' 
	'textSmall3'
	'buttonIcon4' 
	'textSmall4'
	'buttonIcon5' 
	'textSmall5'
	'buttonIcon6' 
	'textSmall6'
	'buttonIcon7' 
	'textSmall7'
	'line1'
	'direct'
	'line2'
	'store_badge_google'
	'line3'
	'store_badge_apple'
	'line4'
	'facebook'
	'line5'
	'comments'
	'line6'
	'footLogo';
	}
	
	.divideLine3{
	grid-area: line3;
	}


	.minutesWrapper div{
	background-color: #fff;
	color: black;
	padding: 10px;
	font-size: 1.5rem;
	}

	.button_icon1{
	grid-area: buttonIcon1;
	}
	.small_text1{
		grid-area: textSmall1;
	}
	.button_icon2{
		grid-area: buttonIcon2;
	}
	.small_text2{
		grid-area: textSmall2;
	}
	.button_icon3{
		grid-area: buttonIcon3;
	}
	.small_text3{
		grid-area: textSmall3;
	}
	.button_icon4{
		grid-area: buttonIcon4;
	}
	.small_text4{
		grid-area: textSmall4;
	}
	.button_icon5{
		grid-area: buttonIcon5;
	}
	.small_text5{
		grid-area: textSmall5;
	}
	.button_icon6{
		grid-area: buttonIcon6;
	}
	.small_text6{
		grid-area: textSmall6;
	}
	.button_icon7{
		grid-area: buttonIcon7;
	}
	.small_text7{
		grid-area: textSmall7;
	}

	.direct{
	grid-area: direct;
	}
	.google_badge{
	grid-area: store_badge_google;
	}
	.apple_badge{
	grid-area: store_badge_apple;
	}
	.google_badge{
	padding: auto;
	}
	.apple_badge{
	padding: auto;
	}
	
	.comments{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

	.divideLine1{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine1 p{
	line-height: .5rem;
	background-color: #259adc;
	}

	.divideLine2{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine2 p{
	line-height: .5rem;
	background-color: #259adc;
	}

	.divideLine3{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine3 p{
	line-height: .5rem;
	background-color: #259adc;
	}

	.divideLine4{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine4 p{
	line-height: .5rem;
	background-color: #259adc;
	}
	.divideLine5{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine5 p{
	line-height: .5rem;
	background-color: #259adc;
	}

	.divideLine6{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine6 p{
	line-height: .5rem;
	background-color: #259adc;
	}

	.small_text1{
		width: 80%;
	}
	.small_text2{
		width: 80%;
	}
	.small_text3{
		width: 80%;
	}
	.small_text4{
		width: 80%;
	}
	.small_text5{
		width: 80%;
	}
	.small_text6{
		width: 80%;
	}
	.small_text7{
		width: 80%;
	}

	.direct{
		width: 80%;
	}

	.divideLine1{
		width: 80%;
	}
	.divideLine2{
		width: 80%;
	}
	.divideLine3{
		width: 80%;
	}
	.divideLine4{
		width: 80%;
	}
	.divideLine5{
		width: 80%;
	}
	.divideLine6{
		width: 80%;
	}

}
