*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	font-size: 16px;
}
body{
	width: 90%;
	background-color: #fff;
	font-size: 1rem;
	min-width: 1300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.privacyWrapper{
	display: grid;
}
.privacyWrapper{
	width: 90%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right: 20px;
	color: black;
	font-size: 1.75rem;
	line-height: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto auto auto;
	grid-template-areas: 
	'title1 . title2'
	'privacyMeat privacyMeat privacyMeat'
	'line1 line1 line1'
	'comments comments comments'
	'line2 line2 line2'
	' . footLogo . ';
	}

.coLogo{
	grid-area: title1;
}
.menu{
	grid-area: title2;
}
.privacyText{
	grid-area: privacyMeat;
	column-span: all;
}
.privacyText{
		width: 90%;
}
.comments{
	grid-area: comments;
	column-span: all;
}
.privacyfooterLogo{
	grid-area: footLogo;
}
.divideLine1{
	grid-area: line1;
	column-span: all;
}
.divideLine2{
	grid-area: line2;
	column-span: all;
}
.menu{
	width: 480px;
	padding-top: 50px;
}

.homeMenuList{
	padding-left: 15px;
}

.pPolicyMenuList{
	padding-right: 10px;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul li{
	float: left;
	width: 230px;
	height: 4em;
	background-color: #259adc;
	text-align: left;
	font-size: 1rem;
	padding: 20px 10px 10px 20px;
	text-transform: uppercase;
	font-weight: bold;
}

ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
}

ul li a:hover {
	background-color: #259adc;
	color: black;
	white-space: nowrap;
	float: none;
}

ul li ul li{
	width: 250px;
	text-transform: none;
	display: none;
}

ul li:hover ul li{
	display: block;
	position: relative;
	z-index: 1;
}

.appsMenuList a::after{
	content: " -> " ;
	color: #fff;
}

.menu ul li{
	border: 0px;
	box-shadow: 0 1px 0 blue, 0 4px 0 blue;
}

.coLogo{
	padding: 10px 10px;
	margin: 10px 10px;
}
.privacyfooterLogo{
	display: block;
	margin: auto;
}
.comments{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 38%
}

.divideLine1{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
}
.divideLine1 p{
	line-height: .5rem;
	background-color: #259adc;
}
.divideLine2{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
}
.divideLine2 p{
	line-height: .5rem;
	background-color: #259adc;
}
@media (max-width: 835px){
	
	.privacyWrapper{
	width: 90%;
	margin: auto;
	padding: 20px;
	line-height: 1.75rem;
	font-size: 1.5rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1px;
	grid-template-rows: auto auto auto auto auto auto auto;
	grid-template-areas: 
	"title1"  
	"title2"
	"privacyMeat"
	"line1"
	"comments"
	"line2"
	"footLogo";
	}
	
	.privacyWrapper div{
	background-color: #fff;
	color: black;
	padding: 10px;
	font-size: 1.5rem;
	}
	.privacyText{
		width: 80%;
	}
	.divideLine1{
		width: 80%;
	}
	.divideLine2{
		width: 80%;
	}
	.privacyText{
	grid-area: privacyMeat;
	}
	.privacyfooterLogo{
	display: block;
	margin: auto;
}
	.comments{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

	.divideLine1{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine1 p{
	line-height: .5rem;
	background-color: #259adc;
	}

	.divideLine2{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine2 p{
	line-height: .5rem;
	background-color: #259adc;
	}

	@media (min-width: 836px) and (max-width: 1299px){
	
	.privacyWrapper{
	width: 90%;
	margin: auto;
	padding: 20px;
	line-height: 1.75rem;
	font-size: 1.5rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1px;
	grid-template-rows: auto auto auto auto auto auto auto;
	grid-template-areas: 
	"title1"  
	"title2"
	"privacyMeat"
	"line1"
	"comments"
	"line2"
	"footLogo";
	}
	
	.privacyWrapper div{
	background-color: #fff;
	color: black;
	padding: 10px;
	font-size: 1.5rem;
	}
	.privacyText{
		width: 80%;
	}
	.privacyfooterLogo{
	display: block;
	margin: auto;
}
	.divideLine1{
		width: 80%;
	}
	.divideLine2{
		width: 80%;
	}
	.privacyText{
	grid-area: privacyMeat;
	}
	.comments{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	.divideLine1{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine1 p{
	line-height: .5rem;
	background-color: #259adc;
	}
	.divideLine2{
	border: transparent;
	margin: 1rem 1rem 1rem 1rem;
	}
	.divideLine2 p{
	line-height: .5rem;
	background-color: #259adc;
	}

	
	
	
	

















